body {
    text-align: center;
    color: rgb(120, 120, 152);
}

#btns {
    margin-bottom: 17px;
    margin-top: 50px;
}

.btn {
    background: transparent;
    border: solid 5px;
    border-color: rgb(183, 183, 230);
    border-radius: 10px;
    margin: 2px;
    margin-top: 7px;
}

.btn:hover {
    border-color: rgb(183, 211, 230);
    cursor: pointer;
}

#winner {
    font-weight: 700;
}

.btnClicked {
    border-color: rgb(183, 211, 230);
}

.playAgain {

    background-color: rgb(120, 120, 152);
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;

}

.playAgain:hover {

    background-color: rgb(77, 115, 141);
}
